@import '~antd/dist/antd.css';

.app {
  min-height: 100vh;
  text-align: center;
  display: flex;
  align-items: stretch;
}

.header {
  color: white;
}

.content {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
